<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kkIntegration.ossd.dao.user.UserDAO" >



    <select id="selectUserRole"
            parameterType="String"
            resultType="java.lang.String">

       SELECT ru.role_id  FROM role_user ru,USER u WHERE ru.user_id = u.user_id AND u.user_name = #{user_name}


    </select>

    <select id="selectUserPwd"
            parameterType="String"
            resultType="String">

    SELECT u.user_pwd FROM USER u WHERE u.user_name = #{user_name}

    </select>



    <insert id="insertUser"
            parameterType="com.kkIntegration.ossd.entity.user.UserEntity">
      insert into user
      (user_id, user_name, user_pwd)
      values (#{user_id}, #{user_name}, #{user_pwd})
    </insert>


</mapper>